.header {
  margin: 0;
  padding: 0;
  width: 100wv;
  height: 80px;
  background-color: #edeff5;

}

.container {
  margin: 0 auto;
  width: 1200px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  align-items: center;
}

.headerCategories {
  width: 300px;
  margin-right: 2rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.headerCategories a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #808080;
}

.logo {
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  color: #696f8c;
}

.markLogo {
  font-family: 'Roboto', sans-serif;
  color: #1F3D99;
}

.button {
  margin-left: 10px;
  text-decoration: none;
  color: #1F3D99;
  background-color: #edeff5;
  border-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.userAuth {
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  color: #696f8c;
  display: flex;
  align-items: center;
}

.userIcon {
  margin: 0;
  padding-right: 7px;
}