.footer {
    margin: 0;
    padding: 0;
    width: 100wv;
    height: 80px;
    background-color: #edeff5;
    position: sticky;
}

.footerContent {
    width: 1200px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #808080;
}