.list{
  width: 900px;
  margin: 30px auto 30px auto;
  padding: 0;
  list-style: none;

}

.title {
  margin-bottom: 20px;

  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}