.item {
  border-bottom: 1px solid grey;
  padding: 10px 0px;
}

.icon {
  display: flex;
  align-items: center;
}

.user{
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-left: 5px;
}

.text{
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: #808080;

}